<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center" id="top-bar">
            <h1>EAT DA BURGER</h1>
        </div>
    </div>
    
  
        
            {{#each burger_data}}
                    <div class="row">
                {{#unless  this.devoured}}
                        <div class="col-xs-6 text-center">
                            <pre>{{this.id}}. {{this.burger_name}}</pre>
                            <form method="POST" action="/burgers/update?_method=PUT"                class="button-size">
                                <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                                <br>
                                <button type="submit" class="btn btn-default">DEVOUR IT!</button>
                            </form>
                        </div>
                {{else}}
                   <div class="col-xs-6 offset-md-6 text-center" >
                        <pre>{{this.id}}. {{this.burger_name}}</pre>
                    </div>
                {{/unless}}
                    </div>
            {{/each}}
        </div>
    </div>
</div>

